{%load static%}
 <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'home'%}" class="logo d-flex align-items-center">
        <img src="{% static 'img/logo.png' %}" >
        <h1>Loja<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'home'%}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>
          <li><a href="#" class="{% if request.resolver_match.url_name == 'project_index' %}active{% endif %}">Projectos</a></li>
          <!-- <li><a href="#">Blog</a></li> -->
          <li><a href="#" class="{% if request.resolver_match.url_name == 'contact_index' %}active{% endif %}">Contacto</a></li>
          <li class="dropdown"><a href="#"><span>Mais Opções</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/admin">Área Restrita</a></li>
            </ul>
          </li>
          
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header>