

 <section id="projects" class="projects">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Nossos Projectos</h2>
        <p>Inspire-se com os últimos trabalhos realizados por nossa equipa.</p>
      </div>

      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">


        <section id="btn_service" class="">
          <div class="info d-flex align-items-center">
            <div class="container hero">
              <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                  <a href="#" class="readmore stretched-link">Ver todos <i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>        
        </section>

      </div>

    </div>
  </section>