{%extends 'base/index.html'%}
{%block 'title'%}Carrinho|eCommece{%endblock%}

{%load static%}

{%block 'body'%}

<!-- ======= Header ======= -->
{% include 'base/partial/_header.html' %}
<!-- End Header -->

<main id="main" class="mt-5">
  <!-- ======= Projet Details Section ======= -->
  <section id="product-car" class="">
    {% if request.session.sessionCar %}
    <div class="section-header">
      <h2 id="product-name">Carrinho de Compras</h2>
      {% include 'base/partial/_message.html' %}
      <p>Aqui as suas compras</p>
    </div>
    <div class="container">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th class="d-none d-lg-block">Imagem</th>
            <th>Produto</th>
            <th></th>
            <th>QTD.</th>
            <th>Total</th>
          </tr>

          {% for row in car.values %}
          <tr>
            <td class="d-none d-lg-block">
              <img class="" style="width: 80px;" src="{% get_media_prefix %}{{ row.image }}">
            </td>
            <td>
              <a href="{% url 'product_detail' row.slug %}">
                {{ row.product_name }}
              </a>

              <a class="ml-3" href="javascript:func()" onclick="confirmacao('{{row.variation_id}}')">
                <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
              </a>
            </td>
            <td>{{ row.variation_name }}</td>
            <td>
              {{ row.quantity }} x
              {% if row.price_product_promotional %}
              {{ row.price_product_promotional }}
              {% else %}
              {{ row.price_product }}
              {% endif %}
            </td>

            {% if row.price_total_promotional %}
            <td>
              {{ row.price_total_promotional }}
            </td>
            {% else %}
            <td>
              {{ row.price_total }}
            </td>
            {% endif %}

          </tr>
          {% endfor %}

        </table>
      </div>
    </div>
    {% else %}
    <div class="section-header">
      <h2 id="product-name">Carrinho Vazio</h2>
      <p>Não há nada a ser exibido.</p>
    </div>
    {% endif %}
  </section>
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
{% include 'base/partial/_footer.html' %}
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>

{%endblock%}

{% block extrajs %}
{{ block.super }}
<script language="Javascript">
  confirmacao = (id) => {
    var resposta = confirm("Deseja remover esse registro?");
    if (resposta == true) {
      window.location.href = "{% url 'product_remove_car' %}?vid=" + id;
    }
  }
</script>
{% endblock %}