{%extends 'base/index.html'%}

{%block 'title'%}eCommerce{%endblock%}

{%block 'body'%}

  <!-- ======= Header ======= -->
  {% include 'base/partial/_header.html' %}
  <!-- End Header -->


  <!-- ======= Carousel Section ======= -->
  {% include 'base/partial/_carousel.html' %}
  <!-- End Hero Section -->

  <main id="main">
    {% include 'product/product_list.html' %}
  </main>

  <!-- ======= Footer ======= -->
  {% include 'base/partial/_footer.html' %}
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>


{% endblock 'body'%}
