{%extends 'base/index.html'%}
{%block 'title'%}Detalhe|eCommece{%endblock%}

{%load static%}

{%block 'body'%}

<!-- ======= Header ======= -->
{% include 'base/partial/_header.html' %}
<!-- End Header -->

<main id="main" class="mt-10">
    <!-- ======= Projet Details Section ======= -->
    <section id="product-checkout" class="">
        <div class="container">
           
  
        </div>
      </section><!-- End Projet Details Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
{% include 'base/partial/_footer.html' %}
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{%endblock%}
